<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 生成的文件夹的名字 -->
    <property name="LOG_HOME" value="springboot-rabbitmq"/>
    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="30"/>  
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 按日来存储日志文件(dd)-->
            <FileNamePattern>${LOG_HOME}/log-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${maxHistory}</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level:级别从左显示5个字符宽度   %msg:日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    
    <!--
        没有输出源就向上到root,root的打印级别不影响子类,additivity=false,只会在子logger中打印,不会在父类中打印
	    <logger name="com.winning.data_transfer.controller.excelmoban.MoBanImportController" level="DEBUG" additivity="false">
	        <appender-ref ref="STDOUT"/>
	    </logger>  
    -->
</configuration>